body{
    background-image: url("images/fondo.png");
}

h1{
    text-align: center;
    font-weight: bold;
}

.imagen{
    display: block;
    margin: auto;
    margin-top: 30;
    margin-bottom: 30px;
    width: 350px;
}